{% extends 'wrapper.html' %}
{% block style %}	
	<link rel="stylesheet" href="../static/home.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}	

{% block content %}	
	
	<div id="container">
		 <div class='header'>
			<img src="../static/imgs/header-img.jpg">
		</div>   
		<div class="floatText">
			<h1>Sequencinator</h1>
			<h2>DNA to Protein Sequencer</h2>
			<a href="{{ url_for('sequence') }}"><button><strong>Try Now ></strong></button></a>
		</div>
	</div>
	<div class="midsection">
	    <h1 id="title">More content coming here soon…</h1>
	</div>
	
		

{% endblock %}	
