{% extends 'wrapper.html' %}
{% block style %}	
	<link rel="stylesheet" href="../static/sequence.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}	

{% block content %}	

	<div class="SideBySide">
	    <div class="container">
			<h1 id="title">DNA to Protein</h1>
	        <form action="/protein/" method="POST" accept-charset="utf-8">
	       		<textarea rows = "4" cols = "40" class='text' type="text" name="dna" placeholder="Enter DNA Here"></textarea>
				<br><br>
				<input class="btn" type="submit" name="submit" value="Convert">
				<br><br>
				<div class="output">
				   {{ protein }} 
				</div>
	        </form>
	    </div>
			
		 <div class="container">
	        <form action="/generate/" method="POST" accept-charset="utf-8">
	        	<h1 id="title">Generate Sequence</h1>    
				<input class="btn" type="submit" name="submit" value="Generate">
				<br><br>
				<input class="textSmall" type="text" name="number" placeholder="Number of Bases">
				<br><br>
				<div class="output">
				    {{ strand }}
				</div>
	        </form>
	    </div>
	</div>

{% endblock %}	
