.header {
    height: 400px;
    width: 100%;
	object-fit: cover;
    overflow: hidden;
	background: black
}

.container {
	position: relative;
	text-align: center;
}

img {
	width: 100%;
	height: 400px;
	overflow: hidden;
	object-fit: cover;
	opacity: 0.5;
}

.floatText {
	color:white;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.floatText h1 {
	font-size: 5rem;
	line-height: 20%;
}

.floatText h2 {
	font-size: 2rem;
}

.floatText button {
	background: #DC3545;
	color: white;
	font-size: 20px;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 50px;
}

.floatText a:hover button {
	transition: ease 0.5s;
	background: white;
	color: #DC3545;
}

#title {
	text-align: center;
}
.midsection {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
	background: linear-gradient(248.8deg, #DC3545 0%, #FFD0D0 100%);
	border-radius: 50px;
	height: 30vh;
	width: 55vh;
	padding-bottom: 50px;

	margin: 40px;
	font-weight: 900;
	font-size: 40px;
	line-height: 70px;
	text-align: center;

	color: #FFFFFF;



}
